table td,
table th {
    padding: 1px 20px 0 0;
    width: 100px;
}

table th,
td.th {
    color: #666;
    font-weight: bold;
    vertical-align: top;
}

td {
	font-weight: bold;
}

table {
    border-spacing: 0;
}

input.price {
    width: 45px;
    float: none;
    text-align: right;
    margin-bottom: 2px;
}
 
.email {
    float: left;
    padding: -2 0 0 4px;
    font-size: 12px;
    margin-right: 10px;
}

#legend {
    background: #fff;
    font-size: 11px;
    white-space: nowrap;
    position: relative;
}

#create_price {
	padding-left: 5px;
	padding-right: 5px;
}

#emailPrice {
    width: 160px;
    height: 14px;
    font-size: 12px;
}